 <h1>Welcome to Games on Rails</h1>
 <p>Now is <%= Time.now %></p>



<%= link_to new_search_path, data: {turbo_frame: "modal"} do %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
  </svg>
<% end %>


<p style="color: green"><%= notice %></p>

<h1 class="font-bold text-3xl mb-3">games</h1>

<%= form_with(url: games_path, method: :get, data: {controller: "search-form", turbo_frame: "games", turbo_action: "advance"}) do |form| %>
  <%= form.label :query, "Search by game name:", class: "block mb-2" %>
  <div class="flex space-x-3">
    <%= form.text_field :query, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none", data: {action: "input->search-form#search"} %>

    <%= form.submit 'Search', class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
  </div>
<% end %>

<!-- render new partial here -->
<div class="my-6">
  <%= render "games", games: @games %>
</div>


<%= link_to "New game", new_game_path, class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded inline-flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
