<%= form_with(model: @game, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title, "Game Title:" %>
    <%= form.text_field :title, class: "form-control", id: "title", placeholder: "Enter the game title" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Game Description:", style: "display: block" %>
    <%= form.text_area :description, data: { "character-counter-target": "input" },
    maxlength: 100, class: "form-control", id: "description", name: "game[description]",
    rows: 5, placeholder: "Provide a brief summary/description of the specific game" %>
    <p>There are <strong data-character-counter-target="counter"></strong> characters remaining.</p>
    <div id="message_preview">
      <!-- The preview of the message displays here -->
    </div>
    <div>
      <button type="button" data-action="click->form#preview">Preview Description</button>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :review_scores, "Score:" %>
    <%= form.number_field :review_scores, class: "form-control", id: "review_scores", name: "game[review_scores]", placeholder: "Enter your game review score(0-100)" %>
  </div>

  <div class="form-group">
    <%= form.label :main_image, "Game Image:" %>
    <%= form.file_field :main_image, class: "form-control", id: "main_image", name: "game[main_image]" %>
  </div>

  <div class="form-group">
    <%= form.label :genre_id, "Select Genre:" %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, { prompt: "Please select a genre" }, class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-secondary">Submit Created Game</button>
<% end %>
