<div class="game">
  <h2><%= game.title %></h2>
  <p><%= game.description %></p>
  <p>Review Scores: <%= game.review_scores %></p>
  <% if game.main_image.attached? %>
    <%= image_tag game.main_image, size: "250x400" %>
  <% else %>
    No image available
  <% end %>
</div>

<div id="<%= dom_id game %>">
  <p class="text-lg leading-loose">
    <%= link_to game.title, game_path(game), class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
</div>
