<%= turbo_frame_tag dom_id(game) do %>
  <div class="game">
    <h2><%= link_to game.title, game_path(game), data: { turbo_frame: "_top" } %></h2>
    <p><%= game.description %></p>
    <p>Review Score: <%= game.review_scores %></p>
    <%= display_game_image(game) %>
    <% if game.genre %>
      <p>Genre: <%= game.genre.name %></p>
    <% else %>
      <p>Genre: To be confirmed</p>
    <% end %>
  </div>
<% end %>
