<div class="game">
  <%= turbo_stream_from @game %>
  <h1><%= @game.title %></h1>
  <h2><%= @game.description %></h2>
   <% if @game.genre %>
    <p>Genre: <%= @game.genre.name %></p>
  <% else %>
    <p>Genre: TBC </p>
  <% end %>
  <p>Game Review Score: <%= @game.review_scores %></p>
  <% if @game.main_image.attached? %>
    <%= image_tag @game.main_image, size: "500x800" %>
  <% else %>
     <%= image_tag("default.png", size: "500x800") %>
  <% end %>

  <%= render partial: "comments/form", locals: { comment: Comment.new } %>
  <%= turbo_stream_from @game, :comments %>
  <div id="<%= "#{dom_id(@game)}_comments" %>">
    <%= render @game.comments.order(created_at: :desc) %>
  </div>
</div>

<li class="list-group-item">
  <div data-turbo="false">
    <%= link_to "Delete",
      game_path(@game),
      method: :delete,
      data: { turbo_confirm: "Are you sure?" }
    %>
  </div>
  <%= link_to "Edit", edit_game_path(@game) %>
</li>

<%= link_to "Return to Games", index_path %>
