<div id="<%= dom_id review %>">
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <h3>The Review</h3>
    <%= review.review %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>
</div>
