<!DOCTYPE html>
<html>
  <head>
    <title>GamesonRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-pzjw8P+6fs8KXjp0WjBYzV1PW7I3IjQ8EAtwDAL+tn5CqG62OMZ8u7zkiYt9oPIJ" crossorigin="anonymous">
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <turbo-frame id="flash">
      <%= render 'shared/flash' %>
      <%= render "shared/flashes" %>
    </turbo-frame>
    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
